<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TMDB tests" parallel="tests">
    <test name="TMDB Log In">
        <parameter name="wrongPassword" value="1"/>
        <classes>
            <class name="org.tmdb.tests.login.LogInTests"/>
        </classes>
    </test>
    <test name="TMDB Search">
        <parameter name="movieTitle" value="Fight Club"/>
        <classes>
            <class name="org.tmdb.tests.search.SearchTests"/>
        </classes>
    </test>
    <test name="TMDB Top Rated">
        <parameter name="filterGenre" value="action"/>
        <classes>
            <class name="org.tmdb.tests.toprated.TopRatedTests"/>
        </classes>
    </test>
    <test name="TMDB Acting Timeline">
        <classes>
            <class name="org.tmdb.tests.actingtimeline.ActingTimelineTests"/>
        </classes>
    </test>
</suite>
